body{
  background-color: #EFEFEF;
}

.center.row {
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	max-width: 500px;
}

.interior-panel {
  padding: 30px;
}

.interior-panel i {
  font-size: 30px;
  line-height: 50px;
  color: #999;
}

.interior-panel form input, .signup-panel form span {
  height: 50px;
}

.interior-panel .welcome {
  margin-left: 0;
}

.interior-panel .formattedParagraph {
  margin-left: 0;
  text-align: center;
}

.interior-panel .button {
  margin-left: 35%;
}

section.active {
	padding-top: 30px !important;
}

p.title {
	border-bottom: 1px solid #cccccc !important;
}

.tabs-content{
  border: solid 1px #ccc;
  background-color: #fff;
}

li.tab-title{
  border: 1px solid #cccccc !important;
  border-bottom: none !important;
}

.content{
	height: 450px;
}

.center-button{
  margin: 0px !important;
  margin-top: 30px !important;
}

.choice-input{
  height: auto !important;
}

.correct{
  background-color: #99D6AD;
}

.incorrect{
  background-color: #FF8080;
}

.explanation{
  padding: 20px;
}

.explanation-text{
  color: #555;
  font-size: 12px;
}

label.choice-label {
    white-space:nowrap;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 0.4;
}

.wrappable {
    white-space:normal;
    padding-left: 10px;
}