{% extends "layout.html" %}

{% block title %}Welcome{% endblock %}
{% block content %}

<div class="center row">
    <ul class="tabs" data-tab role="tablist">
        <li class="tab-title title active" role="presentational" >
            <a href="#dashboardPanel" role="tab" tabindex="0"aria-selected="false" controls="panel2-2">
                Dashboard
            </a>
        </li>
    </ul>
    <div class="tabs-content">
        <section role="tabpanel" aria-hidden="true" class="content active" id="dashboardPanel">
          <p>
          <div class="row">
            <div class="large-12 columns">
            </div>
           </div>
          </p>
        </section>
    </div>
</div>


{% endblock %}

{% block scripts %}
{% endblock %}