{% extends "layout.html" %}

{% block title %}Welcome{% endblock %}
{% block content %}

<div class="center row">
    <div class="tabs-content">
        <section role="tabpanel" aria-hidden="true" class="content active" id="dashboardPanel">
          <p>
          <div class="row">
            <div class="large-12 columns">
              <div class="interior-panel">
                <p class="formattedParagraph text-center">
                  <strong> Welcome! </strong> 
                  <br> 
                  Practice for the Massachusetts Liscense Exam with Askii.
                  <br>
                  <a class="button center-button" href="/question/0">Start</a>
                </p>
              </div>
            </div>
           </div>
          </p>
        </section>
    </div>
</div>
<p class="right footer"> This is a demo of the Askii API, not the content within it. All content comes from <a href="http://driving-tests.org/massachusetts/massachusetts-dmv-practice-test/"> Driving-Tests.org</a>.</p>


{% endblock %}

{% block scripts %}
{% endblock %}

