{% extends "layout.html" %}

{% block title %}Welcome{% endblock %}
{% block content %}

<div class="center row">
    <ul class="tabs" data-tab role="tablist">
        <li class="tab-title title active" role="presentational" >
            <a href="#loginPanel" role="tab" tabindex="0"aria-selected="false" controls="panel2-2">
                Log In
            </a>
        </li>
        <li class="tab-title title" role="presentational" >
            <a href="#signupPanel" role="tab" tabindex="0"aria-selected="false" controls="panel2-2">
                Sign Up
            </a>
        </li>
    </ul>
    <div class="tabs-content">
        <section role="tabpanel" aria-hidden="true" class="content active" id="loginPanel">
          <p>
          <div class="row">
            <div class="large-12 columns">
              <div class="interior-panel">
                <p class="welcome">
                    <strong> Welcome to the Askii Demo - Massachusetts Driver's License Exam </strong>
                    <br>
                    Please login below
                </p>
                <form action="/login" method="post">
                  <div class="row collapse">
                    <div class="small-12  columns">
                      <input type="text" placeholder="Username" name="username">
                    </div>
                  </div>
                  <div class="row collapse">
                    <div class="small-12 columns ">
                      <input type="password" placeholder="Password" name="password">
                    </div>
                  </div>
                  <button type="submit" class="button">Login</button>
                </form>
              </div>
            </div>
           </div>
          </p>
        </section>
        <section role="tabpanel" aria-hidden="true" class="content" id="signupPanel">
          <p>
          <div class="row">
            <div class="large-12 columns">
              <div class="interior-panel">
                <p class="welcome">
                    <strong> Welcome to the Askii Demo - Massachusetts Driver's License Exam </strong>
                    <br>
                    Please sign up below
                </p>
                <form action="/signup" method="post">
                  <div class="row collapse">
                    <div class="small-12  columns">
                      <input type="text" placeholder="Username" name="username">
                    </div>
                  </div>
                  <div class="row collapse">
                    <div class="small-12 columns ">
                      <input type="password" placeholder="Password" name="password">
                    </div>
                  </div>
                  <button type="submit" class="button">Signup</button>
                </form>
              </div>
            </div>
           </div>
          </p>
        </section>
    </div>
</div>


{% endblock %}

{% block scripts %}
{% endblock %}