{% extends "layout.html" %}

{% block title %}Learn{% endblock %}
{% block content %}

<div class="center row">
    <div class="row">
      <div class="large-12 columns">
          <div class="progress [radius round]">
            <span class="meter" style="width:0%;"></span>
          </div>
      </div>
    </div>
    <div class="tabs-content">
        <section role="tabpanel" aria-hidden="true" class="content active" id="dashboardPanel">
          <p>
          <div class="row">
            <div class="large-12 columns">
              <div class="interior-panel">
                <p class="formattedParagraph text-left">
                  {{ question.question }}
                </p>
                <form>
                  {% set counter = 0 %}
                  {% for choice in choices %}
                    <div class="small-12 columns">
                      <label class="choice-label" for="choice{{counter}}">
                        <input class="choice-input" type="radio" class="choice-input" name="choice" value="{{choice[1]}}" id="choice{{counter}}">
                        <span class="wrappable"> {{choice[0]}} </span>
                      </label>
                    </div>
                  {% set counter = counter + 1 %}
                  {% endfor %}
                </form>
              </div>
            </div>
           </div>
           <div class="row">
            <div class="large-12 columns">
              <div class="explanation hide">
                  <p class="explanation-text">REVIEW: {{question.explanation}}</p>
                  <center>
                  <button id="js-next-button" class="button explanation-button">Next</button>
                  </center>
                </div>
            </div>
           </div>
          </p>
        </section>
    </div>
</div>
<input id="question_uri" type="hidden" value="{{question.uri}}">
<input id="progress" type="hidden" value="{{progress}}">

{% endblock %}

{% block scripts %}
<script>

$(".meter").css("width", $("#progress").val().toString()+"%")

function postAnswer(num_val){
  console.log(num_val)
  var question_id = $("#question_uri").val().split("/")
  question_id = question_id[question_id.length - 1]
  input = {answer: num_val, question_id: question_id}
  $.post( "/answer", input, function(data){
    window.location.href = data.next_url;
  });
}

$( ".choice-input" ).change(function() {
  var num_val = $(this).val().toString();
  $(".choice-input").attr('disabled',true)
  if($(this).val()==1){
    $(this).parent().addClass("correct");
    postAnswer(num_val);
  }
  else{
    $(this).parent().addClass("incorrect");
    $(":radio[value=1]").parent().addClass("correct");
    $('.explanation').show();
  }
});

$( "#js-next-button" ).click(function(){
  var num_val = $("input[name=choice]:checked").val().toString();
  postAnswer(num_val);
})
</script>
{% endblock %}
